.home-button {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.home-button.library {
  background-image: url("../../../mui/public/assets/library.png");
}

.home-button.search {
  background-image: url("../../../mui/public/assets/search.png");
}

.home-button.modules {
  background-image: url("../../../mui/public/assets/module.png");
}
