.pb-button {
  height: 45px;
  --accent: #009788;
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 1.1em;
  background-color: #212121;
  padding: 1em 1em;
  transition: background-color ease-in-out 0.1s, letter-spacing ease-in-out 0.1s,
    transform ease-in-out 0.1s;
  color: #009788;
  border: 0.5px solid #009788;
  margin-left: 5px;
  cursor: pointer;
}

.pb-button:active {
  background-color: var(--accent);
  color: #212121;
  transform: scale(0.95);
}
