.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.card-row-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: scroll;
}

.card-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  margin-left: 10px;
}

.card-wrapper {
  flex: 0 0 33.33%;
  padding: 10px;
}
