.App {
  text-align: center;
}

.App-header {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--cyan);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.card-row-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: scroll;
}

.card-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  margin-left: 10px;
}

.card-wrapper {
  flex: 0 0 33.33%;
  padding: 10px;
}
.notification-wrapper {
  position: fixed;
  top: 50px;
  right: 10px;
  width: 300px;
  z-index: 999;
}

.notification-item {
  box-shadow: 0 0 10px var(--gray);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  animation: SlideLeft 0.4s;
  animation-fill-mode: forwards;
  width: 300px;
  background-color: var(--gray);
  font-size:smaller;
}

@keyframes SlideLeft {
  0% {
    margin-left: 120%;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes SlideRight {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 120%;
  }
}

.notification-item.exit {
  animation: SlideRight 0.4s;
  animation-fill-mode: forwards;
}

.notification-item p {
  margin: 0;
  padding: 10px;
}

.notification-item .bar {
  height: 10px;
}
.notification-item.success{
  color: var(--cyan);
  border: 1px solid var(--cyan);
}

.notification-item.error{
  color: rgba(134, 0, 0, 0.977);
  border: 1px solid rgba(134, 0, 0, 0.977);
  font-weight: bold;
}

.notification-item.success .bar {
  background-color: var(--cyan);
}

.notification-item.error .bar {
  background-color: rgba(134, 0, 0, 0.977);
}
