.scene {
  width: 10em;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.cube {
  color: #ccc;
  font-family: "Roboto", sans-serif;
  transition: all 0.85s cubic-bezier(0.17, 0.67, 0.14, 0.93);
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
  width: 10em;
  height: 4em;
}

.cube:hover {
  transform: rotateX(-90deg);
}

.side {
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  height: 4em;
  width: 10em;
  text-align: center;
  padding-top: 1.5em;
}

.topp {
  color: #009788;
  transform: rotateX(90deg) translate3d(0, 0, 2em);
}

.frontt {
  color: #fff;
  transform: translate3d(0, 0, 2em);
}
