@import "colors.css";
@import "App.css";
@import "About.css";
@import "ChapterButton.css";
@import "DownloadCard.css";
@import "FavoriteWebtoon.css";
@import "FilterButton.css";
@import "FilterToggleButton.css";
@import "FlipButton.css";
@import "HomeButton.css";
@import "Infoed.css";
@import "Loading.css";
@import "Module.css";
@import "ModuleCard.css";
@import "PushButton.css";
@import "Queue.css";
@import "Saucer.css";
@import "Search.css";
@import "SearchBar.css";
@import "SearchFilter.css";
@import "Settings.css";
@import "StdButton.css";
@import "StepsCircle.css";
@import "Topbar.css";
@import "Webtoon.css";
@import "WebtoonCard.css";
@import "WSearchCard.css";

@font-face {
  padding-top: 10px;
  font-family: "MouldyCheeseRegular";
  src: local("MouldyCheeseRegular"),
    url(/assets/MouldyCheeseRegular.woff) format("woff");
}

body {
  margin: 0;
  font-family: "MouldyCheeseRegular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  background-image: url("/assets/Artboard 1.png");
}

body a {
  text-decoration: none;
}

button {
  font-family: "MouldyCheeseRegular";
}

code {
  font-family: "MouldyCheeseRegular", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

::-webkit-scrollbar {
  display: none;
}

