.ch-modal {
  text-align: center;
}

.ch-steps-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.ch-steps-container .ch-steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.ch-steps .ch-steps-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  color: #999;
  font-size: 15px;
  border-radius: 50%;
  background: #212121;
  border: 4px solid #009788;
  transition: all 200ms ease;
  transition-delay: 0s;
  margin: 10px;
}
.ch-steps .ch-steps-circle.ch-active {
  transition-delay: 100ms;
  border-color: #009788;
  color: #009788;
}
.ch-steps .ch-steps-circle.ch-done {
  transition-delay: 100ms;
  border-color: #00978800;
  background-color: #009788;
  color: #212121;
}
.ch-steps .ch-steps-circle.ch-dead {
  transition-delay: 100ms;
  border-color: #00978800;
  background-color: #970000;
  color: #212121;
}
.ch-steps .ch-steps-progress-bar {
  position: absolute;
  height: 4px;
  width: 100%;
  background: #212121;
  z-index: -1;
}