.menu-bar {
  font-size: x-large;
  color: white;
}
.queue-div {
  background-color: var(--gray);
  border-radius: 50px;
}
.manage {
  min-height: 60px;
  display: flex;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.manage-btn {
  display: flex;
  width: fit-content;
  justify-content: right;
  align-self: center;
  gap: 30px;
}
.info-manage {
  padding-left: 20px;
  width: 100%;
  font-size: larger;
  color: var(--cyan);
  align-items: center;
  align-self: center;
  font-weight: bold;
}

.ul-queue {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
}
.queue-list {
  background-color: rgba(72, 72, 72, 0.619);
  border-radius: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.no-info{
  color: var(--cyan);
}