.locate-container {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
  user-select: none;
}

.f-header {
  margin-top: 30px;
  color: var(--cyan);
}

.locate-header {
  flex: 1;
  width: 100%;
  border: 2px dashed var(--cyan);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sr-card {
  width: 100%;
  max-width: 290px;
  height: 70px;
  background: #353535;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
  word-break: break-all;
  white-space: pre-wrap;
  overflow: hidden;
  margin: 10px;
}

.sr-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.sr-img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}

.sr-card:hover > .img {
  transition: 0.5s ease-in-out;
  background: linear-gradient(#9198e5, #712020);
}

.sr-textBox {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
}

.sr-textContent {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sr-h1 {
  position: absolute;
  top: 0;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}

.sr-p {
  font-size: 12px;
  font-weight: lighter;
  overflow: hidden;
  bottom: 0;
  margin-bottom: 0;
}
.sr-p span {
  text-decoration: none;
  color: var(--cyan);
}

