.header-r {
  margin-top: 50px;
  display: flex;
  color: #ffffff;
  align-items: center;
  user-select: none;
}

.filter-btn::before {
  content: "Filter";
}

.sort-btn::before {
  content: "Sort by";
}

.f-menu {
  position: relative;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  width: 100px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
  margin-left: 60px;
}

.f-menu > li {
  margin: 0;
  color: var(--cyan);
  background-color: transparent;
  border: 0.5px solid var(--cyan);
}

.f-menu > li:hover {
  background-color: var(--cyan);
  color: #000;
}

.f-menu > li.selected {
  background-color: var(--cyan);
  color: #000;
}

.f-menu > li > button {
  width: 70px;
  height: 100%;
  text-align: center;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.s-cont{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
}