.steps-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
.steps-container .steps {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.steps .steps-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  color: #999;
  font-size: 15px;
  border-radius: 50%;
  background: var(--gray);
  border: 4px solid var(--cyan);
  transition: all 200ms ease;
  transition-delay: 0s;
  margin-bottom: 10px;
}
.steps .steps-circle.active {
  transition-delay: 100ms;
  border-color: var(--cyan);
  color: var(--cyan);
}
.steps .steps-circle.done {
  transition-delay: 100ms;
  border-color: var(--cyan) 00;
  background-color: var(--cyan);
  color: var(--gray);
}
.steps .steps-circle.dead {
  transition-delay: 100ms;
  border-color: var(--cyan) 00;
  background-color: #970000;
  color: var(--gray);
}
.steps .steps-progress-bar {
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--gray);
  z-index: -1;
}
.steps-progress-bar .steps-indicator {
  position: absolute;
  height: 100%;
  width: 0px;
  background: var(--cyan);
  transition: all 300ms ease;
}
