::-webkit-scrollbar {
  display: none;
}
* {
  -webkit-app-region: drag;
}
html {
  user-select: none;
  -webkit-app-region: drag;
}
body {
  -webkit-app-region: drag;
  user-select: none;
  background-color: #212121;
}

.first-loader {
  position: absolute;
  color: #009788;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-family: 'Showcard Gothic';
  margin-top: 20px;
}
.newtons-cradle {
  --uib-size: 50px;
  --uib-speed: 1.2s;
  --uib-color: #009788;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: var(--uib-size);
  height: var(--uib-size);
  margin-right: auto;
  margin-left: auto;
}

.newtons-cradle__dot {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
  transform-origin: center top;
}

.newtons-cradle__dot::after {
  content: "";
  display: block;
  width: 100%;
  height: 25%;
  border-radius: 50%;
  background-color: var(--uib-color);
}

.newtons-cradle__dot:first-child {
  animation: swing var(--uib-speed) linear infinite;
}

.newtons-cradle__dot:last-child {
  animation: swing2 var(--uib-speed) linear infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  25% {
    transform: rotate(70deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
}

@keyframes swing2 {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(-70deg);
    animation-timing-function: ease-in;
  }
}
#download-progress {
  position: relative;
  display: inline-block;
  height: 20px;
  border-radius: 6px;
  overflow: hidden;
}
#download-progress::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
#download-progress::-webkit-progress-value {
  background-color: #009788;
}